extends ../../pug-head/html-document.pug
block body
    include ../svgiconmodule/svgicons.pug
    include ../backgroundmodule/background.pug
    include ../popupmodule/popup.pug
    include ../pagemodule/pages.pug    
    include ../cheapmenumodule/cheapmenu.pug