svg#specialmenu
    use(xlink:href="#svg-burger-icon")
svg#specialmenu-frame
    use(xlink:href="#svg-button")#button-1
    use(xlink:href="#svg-button")#button-2
    use(xlink:href="#svg-button")#button-3
    use(xlink:href="#svg-button")#button-4