#pages-container
    include components/homepage.pug
    include components/settingspage.pug
    include components/demo1page.pug
    include components/demo2page.pug
    include components/demo3page.pug
    include components/demo4page.pug