#cheapmenu-frame
    button#cheapmenu-activation-button.hamburger(type="button")
    #cheapmenu-content-frame
        button#home-button.cheapmenu-button Startöö
        button#demo1-button.cheapmenu-button Demo 1
        button#demo2-button.cheapmenu-button Demo 2
        button#demo3-button.cheapmenu-button Demo 3
        button#demo4-button.cheapmenu-button Demo 4
        button#settings-button.cheapmenu-button Settings
    #click-catcher
